In [ ]:
name1=name2=name3=name4=30
print(name1,name2,name3,name4)

In [ ]:
name="mike"
print(len(name))

In [ ]:
print(name.find('k'))
print(name.upper())

In [ ]:
print(name.capitalize())

In [ ]:
print(name.isdigit())

In [ ]:
print(name.isalpha())

In [ ]:
print(name.count("k"))

In [ ]:
print(name.replace("m", "b"))

In [ ]:
y="3"
print(int(y))
print(float(y))

In [ ]:
name=input("Enter your name: ")
year_of_birth=input("What year were you born?: ")
age= 2022-int(year_of_birth)
print(name + ", " + "you are" + " "+ str(age) + " " + "years old.")

In [ ]:
import math
pi=3.14
print(round(pi))
print(math.ceil(pi))

In [ ]:
math.floor(pi)

In [ ]:
abs(pi)

In [ ]:
pow(pi,2)

In [ ]:
math.sqrt(4)

In [ ]:
x=1
y=2
z=3
max(x,y,z)
min(x,y,z)

In [ ]:
name= "Mike Thomas"
#name=name[0:4]
#print(name)
print(name.split())

In [ ]:
print(name[0:4:2])

In [ ]:
age_1=float(input("Enter your age: "))
if age_1>=18:
    print("You are an adult.")
elif age_1<=0: 
    print("Your not yet born.")
else:
    print("You are still a child.")

In [ ]:
name= input("Enter your name: ")
count=0
while name!="Mike":
    input("Enter your name: ")
    count=count+1
    while count==3:
        quit()

In [ ]:
pow(2,3)

In [ ]:
name="Mhike"
while not name:
    input("Enter your name: ")
#print(name)

In [ ]:

for number in range(1,11):
    print(number)

In [ ]:
for number in range(50,100,5):
    print(number)

In [ ]:
#Count down
for number in range(10,0-1,-1):
    print(number)
    
print("Happy New Year!")

In [ ]:
#while True:
    #name=input("Enter your name: ")
    #if name!="":
        #break

In [ ]:
phone="00263-7788-267"
for i in phone:
    if i=="-":
        continue
    print(i,end="")

In [ ]:
new_phone=phone.split("-")
print(new_phone)
print(updated_phone)

In [ ]:
for i in new_phone:
    if i=="":
        pass
    print(i, end="")

In [ ]:
subject_option_1=["Biology", "Chemistry", "Physics"]
subject_option_2=["Maths", "Geography", "Business Studies"]
subject_option_3=["Art", "Music", "Drama"]
subjects=[subject_option_1, subject_option_2, subject_option_3]
print(subjects[0][2])
print(subjects)

In [ ]:
set_1={2,3,4,6}
print(set_1)
set_1.remove(2)

In [ ]:
def first_middle_last(*args):
    for number in args:
        sum= number +2
        print(number)

In [ ]:
first_middle_last(1,2,3)

In [ ]:
#Formating strings
place_of_birth="Rushinga"
second_place="Mt Darwin"
words="Mike Thomas was born in " "{}. {} is close to Rushinga.".format(place_of_birth, second_place)
print(words)

In [ ]:
friends=["Mike", "Dzenhu", "Mugwagwa"]
for name in friends:
    print("Happy New Year {}".format(name))

In [ ]:
#Formatting numbers to a desired number of decimal places
number=3.14159
number_2=1000
print("The number pi is {:.1f}".format(number))
print("The number 1000 is {:b}".format(number_2))
print("The number 1000 is {:.3f}".format(number_2))
print("The number 1000 is {:o}".format(number_2))
print("The number 1000 is {:x}".format(number_2))
print("The number 1000 is {:e}".format(number_2))

In [ ]:
#Random numbers
import random
x= random.randint(1,6)
y=random.random()
print(x)
print(y)

In [ ]:
#Rock paper scissors
my_list=["rock", "paper", "scissors"]
q=random.choice(my_list)
print(q)

In [ ]:
cards=[1,2,3,4,5,6,7,8,9, "J", "K", "Q", "A"]
random.shuffle(cards)
print(cards)

In [ ]:
#File detection
import os
path="C:\\Users\\1thomas\\OneDrive - Bethany School\\Desktop"
if os.path.exists(path):
    print("That location exists.")
else:
    print("That location doesn't exist.")

In [3]:
#Open and read files using python
#with open("http://localhost:8888/edit/MT%20siblings.docx") as file:
    #print(file.read())

In [ ]:
import shutil
#Re-watch videeo (2hrs 56 mins section)