In [33]:
class Student:
    pass

In [5]:
type(Student)

type

In [12]:
object_1=Student()
object_2=Student()

In [19]:
print(object_1)
print(object_2)

<__main__.Student object at 0x00000147298174C0>
<__main__.Student object at 0x0000014729817580>

In [20]:
isinstance(object_1,Student)

True

In [21]:
object_3={}
isinstance(object_3,Student)

False

In [23]:
object_1.name='Mwonzora'
object_1.email='Duggieanobirasarydzao@.co.zw'

In [24]:
object_1.name

'Mwonzora'

In [25]:
object_1.email

'Duggieanobirasarydzao@.co.zw'

In [27]:
object_2.name='Hitikiti'
object_2.email='Hitikiti@yahoo.co.uk'

In [28]:
object_2.name

'Hitikiti'

In [29]:
object_2.email

'Hitikiti@yahoo.co.uk'

In [30]:
object_3=Student()

In [32]:
object_3.name='Magurugudu'
object_3.name

'Magurugudu'

In [ ]:
class Student:
    name=''
    score=0
    active=True

In [35]:
s1=Student()

In [37]:
s1.name, s1.score, s1.active

('', 0, True)

In [39]:
s1.name='Kagande'
s1.score=50
s1.name, s1.score, s1.active

('Kagande', 50, True)

In [42]:
class Student:
    def __init__(self):
        print('Initialise called: ')

In [43]:
s1=Student()

Initialise called:

In [44]:
s2=Student()

Initialise called:

In [14]:
class Student:
    def __init__(self, first, last):
        self.first=first
        self.last=last
        self.mail=first + "." +last + "@bethanyschool.org.uk"
    def fullname(self):
        return "{} {}".format(self.first, self.last)

In [16]:
s1=Student('Mike', 'Thomas')
s2=Student('Bonus', 'Thomas')
print(s1.fullname())
print(s2.fullname())

Mike Thomas
Bonus Thomas

In [20]:
class Tweet:
    pass

In [23]:
a=Tweet()
print(a)

<__main__.Tweet object at 0x0000011A4997AAF0>

In [30]:
class Cars:
    wheels=4
    def __init__(self, name, colour):
        self.name="Honda"
        self.colour="Red"

In [38]:
c1=Cars('Honda','Red')
print(c1)

<__main__.Cars object at 0x0000011A4997AA00>

In [1]:
class Houses:
    def bethany_houses(self):
        print("Well done, Bethany!")

In [7]:
houses=Houses()
houses.bethany_houses()

Well done, Bethany!

In [8]:
print(dir(houses))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'bethany_houses']

In [1]:
class Item:
    def calculate_total_price(self, x, y):
        return x*y
item_1=Item()
item_1.name="Phone"
item_1.price=50
item_1.quantity =5
print(item_1.calculate_total_price(item_1.price, item_1.quantity))
item_2=Item()
item_2.name="Laptop"
item_2.price=1000
item_2.quantity=5

print(Item)
print(item_1)
print(item_1.name)
print(item_1.price)
print(item_1.quantity)
print(item_1.calculate_total_price(item_1.price, item_1.quantity))

250
<class '__main__.Item'>
<__main__.Item object at 0x00000198AD4C9070>
Phone
50
5
250

In [20]:
class Item:
    def __init__(self):
        print("I am here!")
item_1=Item()
item_1.name="Phone"
item_1.price=50
item_1.quantity =5
#print(item_1.calculate_total_price(item_1.price, item_1.quantity))
item_2=Item()
item_2.name="Laptop"
item_2.price=1000
item_2.quantity=5

I am here!
I am here!

In [54]:
import csv
class Students:
    pay_rise=3.5
    all=[]
    def __init__(self, name, age, subject, tutor):
        self.name=name
        self.age=age
        self.subject=subject
        self.tutor=tutor
        Students.all.append(self)
    def calculate_total_price(self):
        return self.age * 3
    @classmethod
    def instantiate_from_csv(cls):
        with open ("table.csv", "r") as f:
            reader=csv.DictReader(f)
            table= list(reader)
        for item in table:
            print(item)
    def __repr__(self):
        return f"Students('{self.name}', {self.age}, {self.subject}, {self.tutor})"

student_1=Students("Rumbe Manyozo", 50, "Shona", "Chimudzeka")
student_2=Students("Matsva Mupararano", 40, "English", "Marange")
student_3=Students("Mita Kabweya", 51, "Maths", "Chigunha")
student_4=Students("Mukonyo Mukonyo", 52, "Shona", "Chimudzeka")
student_1=Students("Tozivepi Kademajari", 50, "Shona", "Chimudzeka")

In [34]:
#print("Name:"+ student_1.name +" " +"Age: ", student_1.age,  student_1.subject, student_1.tutor)
#print(student_1.calculate_total_price())
#print(Students.pay_rise)
#print(student_1.pay_rise)

Name:Rumbe Manyozo Age:  50 Shona Chimudzeka
150
3.5
3.5

In [47]:
print(Students.all)

[Students('Rumbe Manyozo', 50, Shona, Chimudzeka), Students('Matsva Mupararano', 40, English, Marange), Students('Mita Kabweya', 51, Maths, Chigunha), Students('Mukonyo Mukonyo', 52, Shona, Chimudzeka), Students('Tozivepi Kademajari', 50, Shona, Chimudzeka)]

In [45]:
for student in Students.all:
    print(student.name, student.age, student.subject, student.tutor)

Rumbe Manyozo 50 Shona Chimudzeka
Matsva Mupararano 40 English Marange
Mita Kabweya 51 Maths Chigunha
Mukonyo Mukonyo 52 Shona Chimudzeka
Tozivepi Kademajari 50 Shona Chimudzeka

In [55]:
Students.instantiate_from_csv()

{'Name': 'Matsva Mupararano', ' Age': ' 40', ' Subject': ' English Marange', ' Tutor': '', 'Rumbe Manyozo': None, ' 50': None, ' Shona': None, ' Chimudzeka': None, '': None}
{'Name': 'Mita Kabweya', ' Age': ' 51', ' Subject': ' Maths', ' Tutor': ' Chigunha', 'Rumbe Manyozo': '', ' 50': None, ' Shona': None, ' Chimudzeka': None, '': None}
{'Name': 'Mukonyo Mukonyo', ' Age': ' 52', ' Subject': ' Shona', ' Tutor': ' Chimudzeka', 'Rumbe Manyozo': '', ' 50': None, ' Shona': None, ' Chimudzeka': None, '': None}
{'Name': 'Tozivepi Kademajari', ' Age': ' 50', ' Subject': ' Shona', ' Tutor': ' Chimudzeka', 'Rumbe Manyozo': None, ' 50': None, ' Shona': None, ' Chimudzeka': None, '': None}

In [56]:
Class Employee:
    pass

e1 = Employee()
e2 = Employee()

e1.name = “Jill”
print(e2.name)

SyntaxError: invalid syntax (Temp/ipykernel_4212/1286859447.py, line 1)