In [ ]:
#Classes & Objects in python

In [ ]:
class Student ():
    pass
student1= Student()
student1.name="Harry"
student1.marks=85
print(student1.name)
print(student1.marks)
print(student1.name, student1.marks)

In [ ]:
#class Alumno:
   # pass
    #def __init__(self, name, major, gpa, is_on_probation):
        #self.name=name
        #self.major=major
        #self.gpa=gpa
        #self.is_on_probation=is_on_probation

In [ ]:
#from Alumno import Alumno
#student1=Alumno("Mike", "Physics", 4, True)
#print(student1)

In [15]:
class Employee:
    def __init__(self, name, surname, pay):
        self.name=name
        self.surname=surname
        self.pay=pay
        self.email=name[0] + surname.lower() + "@bethanyschool.org.uk"
        
    

emp_1=Employee("Mike", "Thomas", "£60000")
emp_2=Employee("Dzenhu", "Mudzimuwehari", "£35000")
print(emp_1.name, emp_1.surname, emp_1.pay)
print(emp_1.email)
print(emp_2.name,emp_2.surname,emp_2.pay)
print(emp_2.email)

Mike Thomas £60000
Mthomas@bethanyschool.org.uk
Dzenhu Mudzimuwehari £35000
Dmudzimuwehari@bethanyschool.org.uk

In [ ]:
#emp_1.name="Mike"
#emp_1.surname= "Thomas"
#emp_1.email="mthomas@bethanyschool.org.uk"
#emp_1.ethinicity="Zimbabwean"
#print(emp_1.name,emp_1.surname)
#print(emp_1.email)

print(emp_1.ethinicity)