In [ ]:
for letter in ['H', 'e', 'l', 'l', 'o']:
    print(letter)

In [ ]:
for letter in "Hello":
    print(letter)

In [ ]:
my_string="Hello World"
for char in my_string:
    print(char)

In [ ]:
dogs= "Bruce", "Fox", "Spider", "Spencer"
for dog in dogs:
    print("It's", dog + '.')

In [ ]:
student_scores= {"John": 90, "Peter": 45, "Charles": 67, "Grace": 77}
print(student_scores)
for student in student_scores:
    print(student)

In [ ]:
student_scores.keys()

In [ ]:
dic_keys= student_scores_.keys()
for student in student_scores.keys():
    print(student)

In [ ]:
student_scores.values()

In [ ]:
student_scores= {"John": 90, "Peter": 45, "Charles": 67, "Grace": 77}
dic_keys= student_scores_.keys()
dic_values=student_scores.values()
for student in student_scores.keys(), student_scores.values():
    print(dic_keys, dic_values)

In [ ]:
for key_value in student_scores.items():
    print(key_value)

In [ ]:
course="Phython"
for letter in course:
    print(letter, end="")
    if letter=="o":
        break
    print(letter)

In [ ]:
for number in range (5):
    if number==4:
        break
    else:
        print("The number", number , "has been found.")

In [ ]:
for number in range(1,10):
    if number==5:
        continue
        
    elif number/2==0:
        print("The number %s is divisible by 2" %number)
    print(number)

In [ ]:
for number in range(1,8):
    #print(number)
    if number%2==0:
        print("The number %s is an even number" %number)

In [ ]:
animals=["leopard", "hyena", "lion", "cat", "dog"]
for pet in animals:
    if pet=="lion":
        continue
    if pet=="hyena":
        continue
    if pet =="cat":
        break
    print(pet)
      
        #if pet=="lion":
            #continue
        #if pet =="hyena":
            #break
        #print(pet)

In [ ]:
num=range(10)
y=[x*x for x in num]
print(y)

In [ ]:

string=[letter for letter in "Mupararano"]
print(string)

In [ ]:
list_of_words=["richard", "of", "york", "gave", "battle", "in", "vain"]
mnemonic=[word[0] for word in list_of_words]
print(mnemonic)
learn=[word[0].upper() for word in list_of_words]
print(learn)

In [ ]:
number= range(20)
list_1=[x*x for x in number]
[number for number in list_1 if number % 2==0]
    #if number % 2==0:
        #print(number)

In [ ]:
multiples_of_27=[number for number in range(1,300) if number % 27==0]
print(multiples_of_27)

In [ ]:
num=20
while num<25:
    print(num)
    num +=1

In [2]:
#password=""
#while password !="Chibage@":
    #print(input("Enter your password: "))
#print("Well done")

In [3]:
x,y=0,8
while (x<y): x=x+1; print(x)

1
2
3
4
5
6
7
8

In [11]:
count=0
num_list=[20,30,40,50,60]
while count<len(num_list):
    print(num_list[count])
    count=count+1
print(num_list)

20
30
40
50
60
[20, 30, 40, 50, 60]