In [15]:
def my_introduction():
    print("My name is John")
    print("I live in Kent")
    print(" I want to be a data scientist")

In [16]:
my_introduction()

My name is John
I live in Kent
 I want to be a data scientist

In [20]:
def a_more_complicated_function():
    for i in range(10):
        print(" is now ", i)

In [21]:
a_more_complicated_function()

 is now  0
 is now  1
 is now  2
 is now  3
 is now  4
 is now  5
 is now  6
 is now  7
 is now  8
 is now  9

In [29]:
def mhike(name):
    print("My name is ", name)

In [30]:
mhike("Lily")

My name is  Lily

In [33]:
mhike("Mike Thomas.")

My name is  Mike Thomas.

In [35]:
def general_introduction(name, city):
    print("My name is ", name)
    print("I live and work in ", city)

In [38]:
general_introduction("Mike Thomas.", "London.")

My name is  Mike Thomas.
I live and work in  London.

In [19]:
def square(num):
    print("The square of", num, "is", num*num,".")

In [24]:
square(901)

The square of 901 is 811801 .

In [26]:
number=25
def squr(number):
    print("The square  of ", number, "is", number*number)

In [28]:
squr(8)

The square  of  8 is 64

In [15]:
salary=2000
expenses=500
def my_savings(salary, expenses):
    print("This is my saving", salary-expenses)

In [17]:
my_savings(5000, 1000)

This is my saving 4000

In [18]:
my_savings(3000,500)

This is my saving 2500

In [31]:
def subtraction(a,b):
    result=a-b
    return result

In [32]:
subtraction(10,7)

3

In [15]:
def add_subtract(x,y):
    add_result=x+y
    subtract_result=x-y
    return add_result, subtract_result

In [16]:
add_subtract(10,7)

(17, 3)

In [22]:
result_1, result_2=add_subtract(10,3)
result_1

13

In [25]:
result_2

7

In [27]:
result_1,_

(13, 7)

In [33]:
def positive_or_negative(num):
    if num>0:
        return "Positive"
    elif num<0:
        return "Negative"
    else:
        return "Zero"

In [30]:
positive_or_negative(6)

'Positive'

In [31]:
positive_or_negative(-8)

'Zero or Negative'

In [32]:
positive_or_negative(0)

'Zero or Negative'

In [36]:
positive_or_negative(100)

'Positive'

In [6]:
def create_dictionary_representation(name, age, occupation):
    dictionary={
        "name": name,
        "age": age,
        "occupation": occupation
    }
    return dictionary

In [8]:
create_dictionary_representation("Mike", 51, "Teacher")

{'name': 'Mike', 'age': 51, 'occupation': 'Teacher'}

In [6]:
def total_score(Biology=56, Chemistry=89, Physics=80):
    return total_score

In [3]:
total_score

In [4]:
total_score()

In [8]:
def mark_scores(biology, physics, chemistry, maths):
    print("Biology", biology, "Physics", physics, "Chemistry", chemistry, "Maths", maths)
    return mark_scores

In [10]:
mark_scores(biology=67,88,55,86)

Biology 67 Physics 88 Chemistry 55 Maths 86

In [1]:
num_list=[8,1,3,2,6,10]
sorted(num_list)

[1, 2, 3, 6, 8, 10]

In [3]:
sorted(num_list, reverse=True)

[10, 8, 6, 3, 2, 1]

In [73]:
def print_student_details(name="Mike",school="Kasenzi", math=80, physics=88, chemistry=87, biology=90, enrolled =False):
    total = math + physics + chemistry + biology
    print("Name :", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Maths: ", math)
    print("Physics: ", physics)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Total :", total)

In [75]:
print_student_details(enrolled=True)

Name : Mike
School:  Kasenzi Enrolled:  True
Maths:  80
Physics:  88
Chemistry:  87
Biology:  90
Total : 345

In [76]:
print_student_details("Mike", "Kasenzi", math=67, physics=66,chemistry=90, biology=99, enrolled=False)

Name : Mike
School:  Kasenzi Enrolled:  False
Maths:  67
Physics:  66
Chemistry:  90
Biology:  99
Total : 322

In [89]:
def name_list(*names):
    print(names)

In [91]:
name_list("Mike", "Mhike", "Chimbara", "Mugabe")

('Mike', 'Mhike', 'Chimbara', 'Mugabe')

In [92]:
name_list()

()

In [93]:
name_list("Zimbabwe")

('Zimbabwe',)

In [4]:
def students_in_college(college, city,*name):
    print("College: ", college)
    print("City: ", city)
    print("Name: ", name)

In [8]:
students_in_college("Bethany", "London", "Mike", "Mugabe")

College:  Bethany
City:  London
Name:  ('Mike', 'Mugabe')

In [ ]:
#keyword arguments (kwargs)

In [9]:
def student_details(**kwargs):
    print(kwargs)

In [10]:
student_details()

{}

In [11]:
student_details(name="Mike Ndikiye", city="Rushinga", age=89)

{'name': 'Mike Ndikiye', 'city': 'Rushinga', 'age': 89}

In [12]:
_name=10
print(_name)

10

In [13]:
-name=15
print(-name)

SyntaxError: cannot assign to operator (Temp/ipykernel_9700/3985736918.py, line 1)