In [2]:
!python --version

Python 3.9.7

In [1]:
5//2

2

In [2]:
5%2

1

In [3]:
5/2

2.5

In [8]:
list_1=[1,2,3,4,5]
list_2=[6,7,8,9,10]
new_list=list_1 + list_2
print(new_list)
set_1=set(new_list)
print(set_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
y=list_1.copy()
print(y)

[1, 2, 3, 4, 5]

In [14]:
q=y.pop()
print(q)

4

In [15]:
print(list_1)

[1, 2, 3, 4, 5]

In [16]:
print(y)

[2, 3]

In [4]:
list_2=[2,4,6]
new_list=list_2*2
print(new_list)
sorted_list=list_2.sort()
print(sorted_list)

[2, 4, 6, 2, 4, 6]
None

In [14]:
all([7])

True

In [19]:
list_4=[18,26,33,53,88,100]
print(list_4[0:3])
print(list_4)
print(list_4[0:4])
print(list_4[-1:-4])

[18, 26, 33]
[18, 26, 33, 53, 88, 100]
[18, 26, 33, 53]
[]

In [22]:
print(list_4[3:0:-1]) # reverses the order of the list

[53, 33, 26]

In [28]:
string= "Mike"
print(string.startswith("M"))
print(string.endswith("e"))
print(string.count("e"))
print(string.upper())
print(string.lower())

True
True
1
MIKE
mike

In [37]:
#Tuples
tuple_1=(1,2,3,4)
tuple_2=("a","b", "c","d")
zipped_tuple=zip(tuple_1,tuple_2)
#print(zipped_tuple)
result=tuple(zipped_tuple)
result_1=list(result_1)
print(result_1)

#print(result)

[]

In [46]:
list_5=["FH", "AS", "EH", "MT"]
list_6=["HM", "Deputy Head-Pastoral", "Deputy Head-Academic", "Head of Science"]
roles=zip(list_5, list_6)
#print(roles)
dict_1=dict(roles)
tuple7=tuple(dict_1)
#print(dict_1)
print(tuple7)

('FH', 'AS', 'EH', 'MT')

In [60]:
set_1={10,20,30,30,40,50}
#print(set_1)
#set_1[0]
set_1.add(60)
#set_1.remove(10)
#set_1.pop()
#set_1.discard(30)
print(set_1)

{50, 20, 40, 10, 60, 30}

In [64]:
set_2={1,10,2,20,3,4,30}
print(set_2)
print(set_1.union(set_2))
print(set_1.intersection(set_2))
print(set_1.intersection_update(set_2))

{1, 2, 3, 4, 20, 10, 30}
{1, 2, 3, 4, 40, 10, 50, 20, 60, 30}
{10, 20, 30}
None

In [29]:
#name="Mike"

#print(name)
#print("%s %d" %(name, name))

In [17]:
print('%s %s' % ('John', 'Dere'))

John Dere

In [12]:
name="Shaun"
age=32
string='Hi, %s!' % name
print(string)

Hi, Shaun!

In [13]:
print('Hello, %s' % name)

Hello, Shaun

In [21]:
print("I like to %s chocolate." %"eat")

I like to eat chocolate.

In [23]:
string_2="%s is %d old" % (name,age)
print(string_2)

('Mike', 'Thomas') is 32 old

In [32]:
x="dance"
print("Nancy can %s and %s." %(x, "sing"))

Nancy can dance and sing.

In [35]:
string_3= "John earned %5.2f" %(23366.7888338)
print(string_3)

John earned 23366.79

In [36]:
print("Welcome to {}.".format("MT Online Academy"))

Welcome to MT Online Academy.

In [37]:
print("Let's learn in {0} but {1}.".format("small", "everyday"))

Let's learn in small but everyday.

In [38]:
print("{} phoned {} to let her know that he was going to be {}.".format("Luke", "Diana", " absent"))

Luke phoned Diana to let her know that he was going to be  absent.

In [44]:
string_4="{a} is a {b} in {c}.".format(a="Rushinga", b="Mt Darwin", c="district")
print(string_4)

Rushinga is a Mt Darwin in district.

In [45]:
a="beach"
b="swim"
c=" bask in the sunshine."
print(f" Let's go to the {a} and {b} and then {c}")

 Let's go to the beach and swim and then  bask in the sunshine.

In [47]:
n1=20
n2=4
print(f"The product of {n1} and {n2} is {n1*n2}")

The product of 20 and 4 is 80

In [48]:
import copy
old_string="Will"
new_string=copy.copy(old_string)
print(old_string)
print(new_string)

Will
Will

In [50]:
new_string="Smith"
print(new_string)
print(old_string)

Smith
Will

In [53]:
new_string=copy.deepcopy(old_string)
print(new_string)
print(old_string)
new_string="John"
print(new_string)

Will
Will
John

In [12]:

import copy
list1=[1,2,3, [4,5,6]]
list2=copy.copy(list1)
#print(list1)
#print(list2)
#list2[0]="Mike"
list1[3][1]="Madhara"
#print(list1[0])
#print(list1)
print(list2)
print(list1[3])
list1[3].append("Mugabe")
print(appended_list)

[1, 2, 3, [4, 'Madhara', 6]]
[4, 'Madhara', 6]
None

In [1]:
#from string import Template
#name="Mike"
#n=Template("Hello, $name")
#print(n.substitute(name))

In [16]:
names=["Sara", "David", "Warner", "Sandy"]
new_list=names.copy()
print(names)
print(new_list)
new_list[1]="Ridley"
print(new_list)

['Sara', 'David', 'Warner', 'Sandy']
['Sara', 'David', 'Warner', 'Sandy']
['Sara', 'Ridley', 'Warner', 'Sandy']

In [22]:
import copy
original_list=[10,20,30,40,50]
updated_list=copy.deepcopy(original_list)
print(original_list)
#print(updated_list)
updated_list[2]=77
print(updated_list)

[10, 20, 30, 40, 50]
[10, 20, 77, 40, 50]

In [29]:
nested_list=[31,35, [66,77,88], 98]
new_nested_list=copy.deepcopy(nested_list)
#print(nested_list)
#print(new_nested_list)
new_nested_list[2][2]="Mike"
print(nested_list)
print(new_nested_list)

[31, 35, [66, 77, 88], 98]
[31, 35, [66, 77, 'Mike'], 98]

In [39]:
nested_list=[31,35, [66,77,88], 98]
newer_list=nested_list[:]
#print(newer_list[1])

newer_list[1]="Mhike"
print(nested_list)
print(newer_list)

[31, 35, [66, 77, 88], 98]
[31, 'Mhike', [66, 77, 88], 98]

In [2]:
teachers_tuple=("Alice", "Alexa", "Robert", "Bella")
if "Alice" in teachers_tuple:
    print(" Alice is in the tuple.")

 Alice is in the tuple.

In [9]:
list_one=[5,1,6,2,9]
new_list=tuple(list_one)
sorted_list =new_list.sort()
print(list_one)

AttributeError: 'tuple' object has no attribute 'sort'